*,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    align-items: center;
    justify-content: center;
    line-height: 6em;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2em;
    display: block;
    align-items: center;
}

header h1 {
    /* padding-top: 2em; */
}

main {
    display: flex;
    align-items: center;
}

.synth {
    margin: 2em auto;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: black 0 0 20px;
}

.key {
    border: 1px solid black;
}

.white {
    background-color: rgb(182, 132, 230);
    height: 400px;
    width: 100px;
}

.black {
    background-color: rgb(44, 44, 82);
    height: 240px;
    width: 60px;
    margin: 0 -30px 0 -30px;
    z-index: 99;
}

.white:active, .white.active {
    background-color: rgb(210, 181, 238);
}

.black:active, .black.active {
    background-color: rgb(88, 88, 165);

}

.splain {
    text-align: center;
    margin-top: 2em;
}